.Feed {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
  }
  
  .FeedPhoto {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin-bottom: 60px;
    border: 1px solid #000;
    &:last-child { margin-bottom: 0; }    
  }
  
  .FeedPhoto__image {
    width: 100%;
    img { width: 100%; }
  }
  
  .FeedPhoto__info {
    position: relative;
    padding: 24px 24px 40px 24px;
  }
  
  .Feed__empty {
    font-size: 20px;
    font-weight: bold;    
  }