.Modal__wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, .8);
}

.Modal {  
  width: 100%;
  max-width: 600px;
  background-color: #fff;
}

.Modal__header {
  padding: 22px 24px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #000;
}

.Modal__body { 
  padding: 40px 24px;
}

.Modal__close {  
  // position: absolute;  
  margin: 20px;
  cursor: pointer;
}
